<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
	   <param name="append" value="true" />
	   <param name="maxFileSize" value="10KB" />
	   <param name="maxBackupIndex" value="5" />
	   <!-- For Tomcat -->
	   <param name="file" value="/home/nikhil/Desktop/OnlineExamination.log" />
	   <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern"
			value="%-5p %d{yyyy-MM-dd HH:mm:ss} %c:%L - [%M] - %m%n" />
	   </layout>
	</appender>

	
	<!-- Application Loggers -->
	<logger name="com.thbs.controllers">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		 <appender-ref ref="AppConsole" />
		<appender-ref ref="file" />
	</root>
	
</log4j:configuration>
