<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<!-- Initialization for data source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@172.30.55.61:1521:xe" />
		<property name="username" value="nikhils" />
		<property name="password" value="admin" />
	</bean>

	<!-- Definition for UserRegistration bean -->
	<bean id="userDao" class="com.thbs.Dao.UsersDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="emailLinkencryptionDao" class="com.thbs.Dao.EmailLinkEncryptionDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="imagesDao" class="com.thbs.Dao.ImagesDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="userdetailsDao" class="com.thbs.Dao.UserDetailsDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="subjectsDao" class="com.thbs.Dao.SubjectsDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
</beans>